<% unless @photos.size == 0 %>
  
  <%# photo = @photos.first %>
  <div id="photos" style="position: fixed; height: 100%; width: 100%; top: 0; left: 0; text-align: center;">
    <% @photos.each_with_index do |photo, i| %>
      <a href="<%= photo.page %>"><img style="height: 100%;" src="<%= photo.source %>" /></a>
    <% end %>
  </div>
<% else %>
  <div><%= @place %></div>
  <div>Only <%= @photos.size %> photos returned</div>
<% end %>